#titulo{
    text-align: center;
}
h3{
    margin-left: 180px;
}
p{
    margin-left: 170px;
}
#columna1{
    float: left;
    margin-left: 50px;
    overflow: hidden;
}
#columna2{
    float: right;
    margin-right: 50px;
    overflow: hidden;
}
#boton{
    text-align: center;
    margin-top: 150%;
}
input[type=text]{
    margin-left: 170px;
}
#parteDerecha{
    float: right;
    width: 25%;
    border: 1px solid;
    padding: 106px;
    overflow: hidden;
    clear: both;
}

.estilos{
    background-color: red;
}