#titulo{
    text-align: center;
}
h3{
    margin-left: 180px;
}
p{
    margin-left: 50px;
}
#columna1{
    float: left;
    margin-left: 50px;
    overflow: hidden;
}
#columna2{
    float: right;
    margin-right: 450px;
    overflow: hidden;
}
#formulario{
    margin-top: 90%;
}
input[type=text]{
    margin-left: 170px;
}
#parteDerecha{
    float: right;
    width: 10%;
    border: 1px solid;
    padding: 0px;
    overflow: hidden;
    clear: both;
    height: 1170px;
    overflow: scroll;
}

.estilos{
    background-color: red;
}